/aclocal.m4
/aminclude.am
/autom4te.cache
/config.cache
/config.log
/config.lt
/_configs.sed
/config.status
/configure
/doxygen-doc
/libtool
/Makefile
/Makefile.in
/x86_64-unknown-linux-gnu
/.cproject
/.autotools
/.project
/.ropeproject
