Makefile.am~
/Makefile
/Makefile.in
/dummy.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/gettext.h
/gl_array_list.c
/gl_array_list.h
/gl_list.c
/gl_list.h
/intprops.h
/size_max.h
/stdbool.in.h
/stdlib.in.h
/strerror.c
/string.in.h
/unistd.in.h
/xalloc-die.c
/xalloc.h
/xmalloc.c
/xsize.h
dummy.c
error.c
error.h
exitfail.c
exitfail.h
gettext.h
gl_array_list.c
gl_array_list.h
gl_list.c
gl_list.h
intprops.h
size_max.h
stdbool.in.h
stdlib.in.h
strerror.c
string.in.h
unistd.in.h
xalloc-die.c
xalloc.h
xmalloc.c
xsize.h
